In [1]:
mystring = 'hello'

In [2]:
mylist=[]

In [4]:
for letter in mystring:
    mylist.append(letter)

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist2=[letter for letter in mystring]

In [8]:
mylist2

['h', 'e', 'l', 'l', 'o']

In [9]:
mylist3=[x for x in 'Jozineira']

In [10]:
mylist3

['J', 'o', 'z', 'i', 'n', 'e', 'i', 'r', 'a']

In [15]:
mylist4=[x*2 for x in range(0,20)]

In [16]:
mylist4

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [17]:
mylist5=[x for x in range(0,20) if x%2 == 0]

In [18]:
mylist5

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
celcius = [0,10,20,30,34.5]

fahrenheit = [((9/5)*temp + 32)for temp in celcius]

In [22]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 94.1]

In [23]:
fahrenheit2=[]

for temp in celcius:
    fahrenheit2.append(((9/5)*temp +32))

In [25]:
fahrenheit2

[32.0, 50.0, 68.0, 86.0, 94.1]

In [30]:
results = [x if x%2==0 else "odd" for x in range(0,20)]

In [32]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [33]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [35]:
mylist=[x*y for x in [2,4,6,8] for y in [1,3,5,7]]

In [36]:
mylist

[2, 6, 10, 14, 4, 12, 20, 28, 6, 18, 30, 42, 8, 24, 40, 56]